.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* For MUI SELECT Component */
.custom-input fieldset {
  border: 1px solid rgba(255, 188, 15, 0.5) !important;
  box-shadow: inset 0px 4px 4px rgba(255, 188, 15, 0.25) !important;
  border-radius: 3px !important;
}

.custom-addUser-input fieldset {
  border: 1px solid rgba(255, 188, 15, 0.5) !important;
  border-radius: 3px !important;
}

.custom-editUser-input fieldset {
  border: 1px solid rgba(255, 188, 15, 0.5) !important;
  border-radius: 3px !important;
  background-color: #FFBC0F;
}

.custom-analytics-popup-input fieldset {
  border: 1px solid rgba(255, 188, 15, 0.5) !important;
  border-radius: 3px !important;
  box-shadow: 0px 4px 4px rgba(255, 188, 15, 0.25) !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {

  font-size: 24px;
  padding: 0px;
  color: #FFBC0F;

}

.ant-upload-select {
  width: 600px !important;
  border: 1px dashed #ffbc0fb3 !important;
  border-radius: 3px !important;
  background-color: white !important;
}

.ant-modal {
  width: 1000px !important;
}

.ant-slider-step {
  background-color: yellow !important;
}

.ant-slider-handle ::before {
  box-shadow: 0 0 0 2px #FFBC0F !important
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #FFBC0F !important
}

.custom-upload .ant-upload-wrapper {
  display: flex !important;
  justify-content: center !important;
}

.ant-upload-list-item-image {
  border-radius: 50% !important;
}

.ant-upload-list-item-name {
  color: #FFBC0F !important;
}

.custom-upload .ant-upload-select {
  width: 100% !important;
  background: rgba(255, 188, 15, 0.05) !important;
  border: 1px dashed rgba(255, 188, 15, 0.7) !important;
  border-radius: 3px !important;
}

.ant-btn-primary {
  background-color: #FFBC0F !important;
  color: black !important;
}


/* global p margin bottom removed */

p {
  margin-bottom: 0px !important;
}

.custom-upload-width .ant-upload-select {
  width: 100% !important;
}

.custom-selected .Mui-selected {
  color: green;
  background-color: #61dafb;
}